<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  
  <title>Document</title>
</head>
<body>


  <h1 style="text-align: center;">quotes app</h1>
  
  
  <form>
      <div class="form-group">

          <label for="name">Name</label>
          <input ng-model="name">

      </div>
      <div class="form-group">

          <label for="description">Quote</label>
          <input ng-model="name">
      </div>
      <div class="form-group">
          <label for="complete">Author</label>
          <input ng-model="name">

          <section>
            <div class="example-button-row">
              <button type ="button"></button>
              </div>
          </section>

          <input type='date' id="complete" required>
      </div>
  </form>
  

    <input ng-model="name">
    
    <button ng-click="count = count + 1" ng-init="count=0">OK</button>
    
  <h2>Madness is like gravity all you need is a little push</h2> 

      <p>like or dislike quote:</p>
      
      <button ng-click="count = count + 1" ng-init="count=1">LIKE</button>
      <button type="button" onClick="onClick(1)">DISLIKE</button>
<p>likes: <a id="clicks">0</a></p>

<body ng-app="myApp" ng-controller="myCtrl">

  <h1 ng-style="myObj">Welcome</h1>
  <div class="home"></div>

      
</body>
<html>