form{
    margin-left: 50%;
    margin-right: 50%;
    font-size: xxx-large;
    
}
.home{
    background-image:url( https://www.capsulink.com/assets/img/hero/capsulink-short-link-personalization-by-device-location-language-time.svg)
}
   